{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">Update Password</div>
    <div class="card-body">
      <form class="update-password-form">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" required />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
          />
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            name="new_password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>

<script>
  const updatePasswordForm = document.querySelector(".update-password-form")

  updatePasswordForm.addEventListener("submit", (e) => {
    e.preventDefault()

    const formData = {
      username: updatePasswordForm.username.value,
      password: updatePasswordForm.password.value,
      new_password: updatePasswordForm.new_password.value,
    }

    fetch("http://localhost:8000/auth/update-password", {
      method: "POST",
      body: JSON.stringify(formData),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        if (!data.ok) {
          throw new Error("Username or Password incorrect!")
        }
        window.location.href = "/"
      })
      .catch((err) => {
        console.log("Error", err)
        window.location.href = "/login"
      })
  })
</script>
{% endblock content %}
