<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/todo/css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/todo/css/base.css') }}"
    />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>TodoApp</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %} {% endblock content %}

    <script>
      const logoutBtn = document.querySelector(".logout")
      const editPasswordBtn = document.querySelector(".edit-password")

      logoutBtn.addEventListener("click", () => {
        fetch("http://localhost:8000/auth/logout")
          .then((res) => res.json())
          .then((data) => {
            if (data.ok) {
              window.location.href = "/login"
            }
          })
          .catch((err) => {
            console.log("Error: ", err)
            window.location.reload()
          })
      })

      editPasswordBtn.addEventListener("click", () => {
        window.location.href = "/password"
      })
    </script>
    <script src="{{ url_for('static', path='/todo/js/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static', path='/todo/js/popper.js') }}"></script>
    <script src="{{ url_for('static', path='/todo/js/bootstrap.js') }}"></script>
  </body>
</html>
